<h1 style="color: aliceblue;">Task List</h1>

<div class="task-container">
    <div class="task-box" *ngFor="let item of items">
        <div class="task-details">
            <p><strong>Task name:</strong> {{ item.itemName }}</p>
            <p><strong>Task due date:</strong> {{ item.dueDate }}</p>
            <p><strong><mark [style.background] = "
                item.itemImportance == 1 ? 'red' : 
                item.itemImportance == 2 ? 'orange' :
                item.itemImportance == 3 ? 'yellow' : 
                item.itemImportance == 4 ? '#90EE90' : 
                item.itemImportance == 5 ? 'green' :
                'white'">
                Task importance: {{ item.itemImportance }}</mark></strong></p>
        </div>
        <div class="task-actions">
            <button (click)="updateItem(item.itemID)" class="btn btn-blue">Update Task</button>
            <button (click)="finishTask(item.itemID)" class="btn btn-red" style="margin-left: 10px">Task Finished</button>
        </div>
    </div>
</div>
