<h1>Item List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Task name: </th>
            <th>Task due date: </th>
            <th>Task importance: </th>
            <th> Actions </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let item of items">
            <td> {{ item.itemName }} </td>
            <td> {{ item.dueDate }} </td>
            <td> {{ item.itemImportance }} </td>
            <td>
                <button (click) = "updateItem(item.itemID)" class="btn btn-blue"> Update Task </button>
                <button (click) = "finishTask(item.itemID)" class="btn btn-red" style="margin-left: 10px"> Task Finished </button>
            </td>
        </tr>
    </tbody>
</table>
